primary-color = #3F51B5
primary-dark-color = #303F9F

accent-color = #FF5722
accent-dark-color = #E64A19

header#deals-search
    height 80%
    position relative
    box-shadow 3px 0 10px rgba(0, 0, 0, .6)
    background-image url('../static/images/build.jpg')

    section#deal
        width 100%
        height 100%
        position relative

        .deal-detail
            left 0
            bottom 0
            color white
            width 100%
            padding 0 50px
            position absolute
            box-shadow -3px 0 10px rgba(0, 0, 0, .6)
            background-color rgba(0, 0, 0, .6)

            p.name, p.description
                text-shadow 1px 1px 6px rgba(0, 0, 0, .6)

            p.name
                margin 0
                font-size 35px

            p.description
                font-size 15px
                margin-top 0

            #services
                .service
                    width 100px
                    margin 10px
                    display inline-block
                    max-width 100px
                    text-align center
                    border-radius 5px
                    background-color rgba(0, 0, 0, .5)

                    p
                        margin 5px auto
                        font-size 13px

section.suggestions
    background-color #C0C1C5

    md-card.suggest
        width 250px
        background-color white

        header.hotel-image
            height 120px
            padding 10px

        p
            margin 0

        p.name
            color #1789CE
            font-size 17px
            text-align center

        p.description
            font-size 13px
            line-height 20px

.hotel-image
    background-size cover
    background-repeat no-repeat
    background-position center center
