<!DOCTYPE html>
html
   head
       meta(charset='utf-8')
       script(src='bower_components/angularjs/angular.min.js')
       script(src='bower_components/angular-route/angular-route.min.js')
       script(src='bower_components/angular-animate/angular-animate.min.js')
       script(src='bower_components/angular-aria/angular-aria.min.js')
       script(src='bower_components/angular-material/angular-material.min.js')
       script(src='bower_components/lodash/lodash.min.js')
       script(src='js/main.js')

       link(href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,300italic,400', rel='stylesheet', type='text/css')
       link(rel='stylesheet', href='bower_components/mdi/css/materialdesignicons.min.css')
       link(rel='stylesheet', href='bower_components/angular-material/angular-material.min.css')
       link(rel='stylesheet', href='css/index.css')

   body(ng-app='Aterrizar', ng-controller='MainCtrl')
       header#deals-search.hotel-image(layout='row')
           section#deal(layout='column')
               .deal-detail(layout='row', layout-align="space-between center")
                   div
                       p.name {{ ::deal.name }}
                       p.description {{ ::deal.briefDescription }}

                   #services(forced-width='{{ ::120 * deal.services.length / 3 }}')
                       .service(ng-repeat='service in deal.services')
                           p {{ ::service }}

       section.suggestions
           md-card.suggest(ng-repeat='suggest in suggestions')
               header.hotel-image(style='background-image: url("{{ suggest.image }}");')
               div
                   p.name {{ suggest.name }}
                   p.description {{ suggest.briefDescription }}
